# How do I create a pandas DataFrame from another object?

In [1]:
import pandas as pd

In [47]:
# Creating a DataFrame from a dictionary
# A dictionary is an unordered structure but we can order the columns with the paramater columns=['columns','by','order']
df = pd.DataFrame({'id':[100,101,102],'color':['red','white','yellow']},index=['a','b','c']) # setting the index labels
df

    id   color
a  100     red
b  101   white
c  102  yellow

In [42]:
# Creating a DataFrame from a list of lists. The lists represent rows that pandas stack on top of each other.
pd.DataFrame([[100,'red'],[101,'white'],[102,'yellow']], columns=['id','color']) # creating the column names

    id   color
0  100     red
1  101   white
2  102  yellow

In [7]:
import numpy as np

In [8]:
# Creating a numpy array with numpy.random.rand(dimensions)
array = np.random.rand(4,2) # creates a matrix of random values in a (4,2) shape.
array

array([[0.64394655, 0.55235854],
       [0.03672267, 0.14448139],
       [0.4119532 , 0.64685569],
       [0.87305327, 0.20389678]])

In [10]:
# Creating a DataFrame from a np array
pd.DataFrame(array, columns=['one','two']) # Creating the column names

        one       two
0  0.643947  0.552359
1  0.036723  0.144481
2  0.411953  0.646856
3  0.873053  0.203897

In [16]:
# Creating a DataFrame from a dictionary and filling the values with np methods
# np.arange([start,]stop[,step]) => [start,] and [,step] means they are optional. by default, start is 0 and step is by 1.
# np.random.randint(low, high=None, size=None)

pd.DataFrame({'student':np.arange(100,110),'scores':np.random.randint(60,90,10)}).set_index('student')
# Converting the student column to index

         scores
student
100          77
101          78
102          88
103          78
104          73
105          84
106          70
107          83
108          70
109          74

In [51]:
# Creating a Series
s = pd.Series(['round','square'],index=['a','c'],name='shape')
s

a     round
c    square
Name: shape, dtype: object

In [52]:
# Concatenating pandas objects along a particular axis
pd.concat([df,s], axis=1) # axis=1 is columns

/home/ailobe/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

    id   color   shape
a  100     red   round
b  101   white     NaN
c  102  yellow  square