# How do I use pandas with scikit-learn to create Kaggle submissions?

### (The machine learning code will not be explained in this video series)

In [1]:
import pandas as pd

In [2]:
url = 'http://bit.ly/kaggletrain'
train = pd.read_csv(url)

In [3]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
# Creating a python list to select the feature columns
feature_cols = ['Pclass', 'Parch']

In [7]:
# Creating the feature matrix
X = train.loc[:, feature_cols] # : is for all the rows and feature_cols is for the columns

In [13]:
# The X DataFrame has the same rows but only the selected columns
print(train.shape)
X.shape

(891, 12)

(891, 2)

In [15]:
# Creating the target vector, what we are trying to predict. 
y = train.Survived
y.shape

(891,)

In [17]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(X,y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [18]:
url2 = 'http://bit.ly/kaggletest'
test = pd.read_csv(url)

In [20]:
# It's missing the survived column which is what we are trying to predict
test.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [21]:
# Creating a new feature matrix from the testing data
X_new = test.loc[:,feature_cols]

In [22]:
X_new.shape

(891, 2)

In [24]:
# Saving the predicted classes for the samples in X_new
new_pred_class = logreg.predict(X_new)

In [29]:
# Creating a DataFrame with the two columns asked by Kaggle: PassengerId from the test set and the predicted classes
sub = pd.DataFrame({'PassengerId':test.PassengerId, 'Survived':new_pred_class})
sub.head()

   PassengerId  Survived
0            1         0
1            2         1
2            3         0
3            4         1
4            5         0

In [32]:
# Setting PassengerId as the index to ensure it's the first column
sub.set_index('PassengerId',inplace=True)
sub.head()

             Survived
PassengerId
1                   0
2                   1
3                   0
4                   1
5                   0

In [33]:
# Code for saving the DataFrame to csv 
#sub.to_csv('sub.csv')