# How do I rename columns in a pandas DataFrame?

In [1]:
import pandas as pd

In [3]:
url = 'http://bit.ly/uforeports'
ufo = pd.read_csv(url)
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [4]:
# We can use the .columns attribute instead of the head method to look at the column names.
ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [9]:
# Method 1
# .rename() method, columns parameter. Uses dictionary values to .rename() {'old_name': 'new_name'}
ufo.rename(columns = {'Colors Reported': 'Colors_Reported', 'Shape Reported': 'Shape_Reported'}, inplace=True)
ufo.columns # inplace=True the changes affect the actual DataFrame

Index(['City', 'Colors_Reported', 'Shape_Reported', 'State', 'Time'], dtype='object')

In [10]:
# Method 2
# We create a new list and reassign the .columns attribute
ufo_cols = ['city', 'colors reported', 'shape', 'state', 'time']
ufo.columns = ufo_cols
ufo.columns

Index(['city', 'colors reported', 'shape', 'state', 'time'], dtype='object')

In [15]:
# Method 3
# The same as method 2 but while reading the file.
ufo = pd.read_csv(url, names=ufo_cols, header=0) # Explicitly pass ``header=0`` to be able to replace existing names
ufo.columns

Index(['city', 'colors reported', 'shape', 'state', 'time'], dtype='object')

In [17]:
# Method 4
# If we only want to replace all the spaces for underscores (which would enable us to acces the Series as attributes),
# we can reassign the columns attribute and use a string method => .columns.str.replace('to_replace', 'replacement').
ufo.columns = ufo.columns.str.replace(' ', '_')
ufo.columns

Index(['city', 'colors_reported', 'shape', 'state', 'time'], dtype='object')